@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .input {
    @apply rounded-md
     border
     border-qu-gray-200 py-2 px-4  placeholder:text-black 
     focus-visible:outline-qu-gray-200
      placeholder:text-opacity-35;
  }
  .btn {
    @apply bg-qu-gray-100 py-[10px] px-4 rounded-md max-w-[160px] font-bold text-qu-gray-500;
  }
}

body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  @apply bg-qu-gray-500; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}
